<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') -%>
<%- include('../partials/navigation') -%>

<body>
  <%- include('../partials/preloader') -%>

  <div class="home">
    <div class="home__wrapper">
      <div class="home__titles">

        <% collections.forEach( (collection, index) => { %>

        <div class="home__titles__label"><%=`${home.data.collection} ${stringNumbers(index)}`%></div>
        <div class="home__titles__title"><%=collection.data.title%></div>

        <% }) %>

      </div>
      <div class="home__gallery">

        <% home.data.gallery.forEach( media => { %>

        <figure class="home__gallery__media">
          <img src="<%=media.image.url%>" alt="<%=media.image.alt%>" class="home__gallery__media__image">
        </figure>

        <% }) %>

      </div>

      <a href="/collections"><%=home.data.button%></a>
    </div>
  </div>
</body>

</html>